
@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>

<p style="text-decoration:underline;">@Html.ActionLink("Inventory Report", "Inventory", "Reports")</p>
<p style="text-decoration:underline;">@Html.ActionLink("Sales Report", "Sales", "Reports")</p>


